#susceptible_dot {
  bottom: 25%;
  left: 25%;
  background-color: rgb(162, 4, 133);
}

/*** loading image to be shown if the graph takes a long time to load***/
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/** loading image end**/

.chart_container {
  width: 100%;
  content: "";
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  clear: both;
}

.chart {
  width: 50%;
  flex-grow: 1;
  flex-basis: 50%;
  /*float:left;*/
}

.progress-bar {
  width: 157px;
  background-color: grey;
  color: white;
  text-align: center;
}

.the-bar {
  width: 1%;
  background-color: #f1aead;
  height: 30px;
}
