input[type="range"] {
  height: 39px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 2px #a6a6a6;
  background: #ff96ab;
  border-radius: 4px;
  border: 2px solid #f27b7f;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 1px 1px 2px #a6a6a6;
  border: 2px solid #f27b7f;
  height: 30px;
  width: 30px;
  border-radius: 0px;
  background: #ff96ab;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #ff96ab;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 2px #a6a6a6;
  background: #ff96ab;
  border-radius: 4px;
  border: 2px solid #f27b7f;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 2px #a6a6a6;
  border: 2px solid #f27b7f;
  height: 30px;
  width: 30px;
  border-radius: 0px;
  background: #ff96ab;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #ff96ab;
  border: 2px solid #f27b7f;
  border-radius: 8px;
  box-shadow: 1px 1px 2px #a6a6a6;
}
input[type="range"]::-ms-fill-upper {
  background: #ff96ab;
  border: 2px solid #f27b7f;
  border-radius: 8px;
  box-shadow: 1px 1px 2px #a6a6a6;
}
input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 2px #a6a6a6;
  border: 2px solid #f27b7f;
  height: 30px;
  width: 30px;
  border-radius: 0px;
  background: #ff96ab;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #ff96ab;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #ff96ab;
}
