.room-visual {
  width: 300px;
  height: 300px;
  border: solid;
  border-width: 1px;

  position: relative;
  touch-action: none;

  resize: both;
  overflow: hidden;
  min-width: 120px;
  max-width: 600px;
  min-height: 120px;
  max-height: 600px;
}

.drag_dot {
  height: 7px;
  width: 7px;
  background-color: black;
  border-radius: 50%;

  touch-action: none;
  position: absolute;
  cursor: move;
}

#source_dot {
  left: 50%;
  bottom: 50%;
}

.boxed {
  border-style: solid;
  padding: 10px;
  flex-grow: 1;
  flex-basis: 30%;
}

#progress-bar {
  width: 50%;
  background-color: grey;
  color: white;
  text-align: center;
}

#the-bar {
  width: 1%;
  background-color: blue;
  height: 30px;
}

.chart {
  width: 50%;
}

.container {
  margin: 0px auto;
  background-color: #f7f6f7;
}

.banner {
  height: 406px;
  background-image: linear-gradient(#ffffff, #f1aead);
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.banner-top {
  display: flex;
  margin-top: 10px;
}

.title-logos {
  display: flex;
  margin: 22px 0 0 10%;
}

.description {
  width: 795px;
  height: 127px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  margin-left: 15px;
  margin-top: 25px;
}

.disclaimer {
  width: 798px;
  height: 86px;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  margin-left: 15px;
  margin-top: 45px;
}

.virus-illustration {
  float: right;
  position: absolute;
  top: 0;
  right: 0;
}

body {
  margin: 0 auto;
}

.controls-card {
  width: 344px;
  height: fit-content;
  background-color: #f9d4d4;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border: 1px solid;
  margin: 10px 10px 0px 0px;
  transition-duration: 0.2s;
}

.controls-card:hover {
  transform: scale(1.01);
}

.advanced-card {
  /* width: 344px; */
  width: fit-content;
  height: fit-content;
  background-color: #f9d4d4;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border: 1px solid;
  transition-duration: 0.2s;
}

.advanced-card:hover {
  transform: scale(1.01);
}

/* .person-dimensions-card {
  width: 344px;
  height: fit-content;
  background-color: #f9d4d4;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border: 1px solid;
}

.person-dimensions-card:hover {
  transform: scale(1.01);
} */

.h2 {
  font-family: "Roboto";
  font-size: 24px;
  font-weight: bold;
  padding: 0px 0px 0px 15px;
  margin-bottom: 10px;
}

.controls-alignment {
  display: flex;
  flex-direction: column;
}

.control-padding {
  padding: 15px 0px 0px 15px;
}

.question-mark {
  width: 25px;
  margin: 25px 0px 0px 30px;
}

.controls-plots-area {
  margin: 0px 15px 0px 15px;
}
